@model WorkFlow.Models.DataBaseModels.DBContext

@{
    ViewBag.Title = "_VacanciesListPartial";
}

<table class="table table-hover" id="companyTable">
    <thead>
        <tr>
            <th>Название вакансии</th>
            <th>Название компании</th>
            <th>Дата открытия вакансии</th>
            <th>Кол-во позиций</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var a in Model.Vacancies)
            {
                <tr>
                    <td>@a.Name</td>
                    <td>@WorkFlow.Controllers.DatabaseController.GetCompanyById(a.CompanyId).Name</td>
                    <td>@a.OpenDate.Value.Day.@a.OpenDate.Value.Month.@a.OpenDate.Value.Year</td>
                    <td>@a.Amount</td>
                    @*<td>@Html.ActionLink("Edit", "Edit", new { id = a.Id }) </td>*@

                </tr>
            }
        }
    </tbody>
</table>
