@model WorkFlow.Models.SkillsStatistics

<div class="col-md-12 ">
    <div class="col-md-12" style="padding: 10px">
        <div class="col-md-4"><b>@Model.Columns[2] </b></div>
        <div class="col-md-5"><b>@Model.Columns[1] </b></div>
        <div class="col-md-3"><b>@Model.Columns[4] </b></div>
    </div>
    @{
        foreach (var skill in Model.SkillsInfo)
        {
            <div class="col-md-12 div-hover" style="padding: 10px">
                <div class="col-md-4">@skill.SkillName</div>
                <div class="col-md-5">@skill.CategoryName</div>
                <div class="col-md-3">
                    <a href="#" data-toggle="collapse" data-target="#toCollapse-@skill.Id" role="button" aria-expanded="false">@skill.Popularity </a>
                </div>
            </div>
            <div id="toCollapse-@skill.Id" class="collapse col-md-12 col-md-offset-1" style="padding: 10px; color:gray">

                @for (int i = 0; i < skill.Vacancies.Count(); i++ )
                {
                    @:@skill.Vacancies[i]
                    if (i != skill.Vacancies.Count()-1)
                    {
                        @:,
                    }
                }
           </div>
        }
     }
</div>





