<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WorkFlow - Сайт для поиска работы в области IT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)


</head>
<body class="mainBGColor">

    <div class="header">
        <div class="headerMain relative-position">

        </div>
        @using Microsoft.AspNet.Identity


        <div style="background-color:#2a4649" class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("Companies", "Index", "Companies")</li>
                <li class="active">@Html.ActionLink("Vacancy", "Index", "Vacancies")</li>
                <li class="active">@Html.ActionLink("Query editor", "Index", "QueryEditor")</li>
                <li class="active">@Html.ActionLink("Statistics", "Index", "Statistic")</li>
                @*<li> @Ajax.ActionLink("Statistics", "Statistics", "Companies", new { context = Model, actionNumber = ActionWithTable.Sort, tableName = "Companies", fieldToSort = "Name" }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResponse", InsertionMode = InsertionMode.Replace })</li>*@
            </ul>
            @Html.Partial("_LoginPartial", new WorkFlow.Models.LoginViewModel())

        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2015 - All rights reserved.</p>
            </footer>
        </div>
    </div>
</body>
</html>
