@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right pull-right">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav" style="margin-right:25px">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вы вошли как @User.Identity.GetUserName(). <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Редактировать профиль", "Index", "Manage")</li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>

                    </ul>
                </li>
            </ul>
        }
    }
    else
    {
        <li>@Html.ActionLink("Зарегистрироватся", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        @*<li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown"> Войти <strong class="caret"></strong></a>
        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <form method="post" action="login" accept-charset="UTF-8" style="margin-bottom:5px">
                <input style="margin-bottom: 15px;" type="text" placeholder=" Логин" id="username" name="username">
                <input style="margin-bottom: 15px;" type="password" placeholder=" Пароль" id="password" name="password">
                <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                <label class="string optional" for="user_remember_me">Не выходить из системы</label>
                <input class="btn btn-primary btn-block" type="submit" onclick="window.location.href='@Url.Action("Login", "Account")';" id="sign-in" value=" Войти">
              
            </form>
        </div>
    </li>
    }
</ul>


